select {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    border-radius: inherit;
    outline: none;
    width: 100%;
    background-color: #FFF;
    color: #757575;
    outline: none;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.upload-btn-wrapper {
    position: relative;
    display: inline-block;
}

.fileUploadBtn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}