.group {
    position: relative;
    margin-bottom: 30px;
}

textarea,
input,
select {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    border-radius: inherit;
    outline: none;
    width: 100%;
}

.btn-outline-primary {
    margin-left: 10px;
}

.form-control:focus {
    box-shadow: 0 0 0 0 #FFF;
    border-color: #757575;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */

// label {
//     color: #999;
//     font-size: 18px;
//     font-weight: normal;
//     position: absolute;
//     pointer-events: none;
//     left: 20px;
//     top: 10px;
//     transition: 0.2s ease all;
//     -moz-transition: 0.2s ease all;
//     -webkit-transition: 0.2s ease all;
// }
/* active state */

textarea:focus~label,
textarea:valid~label,
input:focus~label,
input:valid~label {
    top: -15px;
    font-size: 14px;
    color: #757575;
}

/* BOTTOM BARS ================================= */

.bar {
    position: relative;
    display: block; // width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #757575;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */

textarea:focus~.bar:before,
textarea:focus~.bar:after,
input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */

textarea:focus~.highlight,
input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #757575;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #757575;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #757575;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.owl-dt-popup-container .owl-dt-calendar {
    height: 17.25em;
    position: absolute;
    top: 30px !important;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 12px);
}

.task-select {
    border: none;
    border-bottom: 1px solid #757575;
    border-radius: inherit;
    margin-top: 0px;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.fontSize15 {
    font-size: 15px;
}

table {
    // display: block;
    overflow-x: auto;
    // white-space: nowrap;
}

.btngrpWidth {
    width: 117px;
}

.btngrpWidth span {
    font-size: 12px !important;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+span {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"]+span:last-child {
    margin-bottom: 0;
}

input[type="checkbox"]+span:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #6cc0e5;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+span:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.reset{
    background-color: #343a40;
    border-color: #343a40;
    text-align: center;
    text-align: center;
    font-size: 13px ;
    height: 47.9px; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
    color: white;
    
}
.btn {
    padding: 0.800rem 0.75rem;
}