<div *ngIf="count== 0" class="forgetpassword-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Forgot Password</h1>
            <form class="form-signin" (ngSubmit)='resetpass(reset.value)' [formGroup]='reset' novalidate class="form">
                <div class="form-content">
                    <div class="form-group">
                        <div>
                            <input type="text" class="form-control input-underline input-lg" id="email" placeholder="Enter Email" formControlName="email">
                            <p class="bg-danger" *ngIf="reset.get('email').hasError('required') && reset.get('email').touched">Please Enter Your Email ID</p>
                            <p class="bg-danger" *ngIf="!reset.get('email').valid && reset.get('email').touched">Not A valid Email Id format</p>

                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!reset.valid"> Reset Password</button>
            </form>
        </div>
    </div>
</div>


<!-- Password Enter Password -->
<div *ngIf="count == 1 " class="forgetpassword-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Reset Password</h1>
            <form class="form-signin" (ngSubmit)='changepassword(password.value)' [formGroup]='password' novalidate class="form">
                <div class="form-content">
                    <div class="form-group">
                        <div class="form-group">
                            <input type="password" class="form-control input-underline input-lg" id="password" placeholder="Enter Password" formControlName="password">
                            <p class="bg-danger" *ngIf="password.get('password').hasError('required') && password.get('password').touched">Please Enter Your Password</p>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-underline input-lg" id="cpassword" placeholder="Confirm Your  Password"
                                formControlName="cpassword">

                            <p class="bg-danger" *ngIf="password.controls.cpassword.errors?.required && password.get('cpassword').touched">Confirm password</p>
                            <p class="bg-danger" *ngIf="password.errors?.mismatch">Password does not match</p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!password.valid">Reset Password</button>
            </form>
        </div>
    </div>
</div>